{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Русское слово</title>
</head>
<body>
    <header>
        <img src="{% static 'logo.png' %}" id="logoMain">
    </header>
    <center>
    <div id="main">
        <h1 class="titleForm">Введите искомое слово:</h1>
        <div class="mainForm">
            <form>
                <input class="searchInputMain" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-autocomplete="list" aria-label="Запрос" id="text" maxlength="400" name="text" autofocus="" placeholder="Например: арбуз" role="combobox" aria-controls="suggest-list-b95dusbyd7w">
                <button class="searchButton" type="submit">
                    Искать в словарях
                </button>
            </form>
            </div>
        </div>
    </div>
    </center>

</body>
</html>